@model Alga1.Models.Employee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.EmployeePhoto)
        </dt>

        <dd>
            <img src="@Url.Action("GetImage", "Employees", new { Model.Id })" alt="EmployeeImage" width="200" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalaryNet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalaryNet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalaryGross)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalaryGross)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ChildrenNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChildrenNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RaisesChildrenAlone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RaisesChildrenAlone)
        </dd>




    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
